:root {
  --main-font-family: "Lato Bold", sans-serif;
  --secondary-font-family: "Lato Light", sans-serif;
  --tertiary-font-family: "Times New Roman", serif;

  --main-font-color: #ffffff;
  --secondary-font-color: #000000;
}
