.preview  {
  background: #f7f7f7;

  .content-section__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0 0;
  }
}

.preview__image {
  margin-right: 100px;
}

.preview__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 76px;
  min-width: 34%;
}

.preview__title {
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 1;
  color: var(--secondary-font-color);
  text-transform: uppercase;
}

.preview__text {
  margin-bottom: 30px;
  font-family: var(--secondary-font-family);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--secondary-font-color);
}

.preview__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preview__link {
  width: auto;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .preview  {
    .content-section__wrapper {
      flex-direction: column;
      align-items: center;
      padding: 80px 0 0;
    }
  }

  .preview__image {
    width: 60%;
    margin-right: 0;
  }

  .preview__main {
    margin: 76px 0 40px;
    min-width: unset;
  }

  .preview__links {
    margin: 0 auto;
  }

  .preview__link {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .preview  {
    .content-section__wrapper {
      padding: 40px 0 0;
    }
  }

  .preview__image {
    width: 60%;
    margin-right: 0;
  }

  .preview__main {
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px;
    min-width: unset;
  }

  .preview__text {
    font-size: 15px;
  }
}
